<!DOCTYPE html>
<html>
<body>
<h1>Phiếu Thu/Chi cần phê duyệt</h1>
<p>,<BR/>

THÔNG TIN {{receiptTypeName}}
<BR/><BR/>
Loại phiếu: <b>{{receiptTypeName}}</b><BR/>
Họ và tên người nộp/nhận: <b>{{customerName}}</b><BR/>

Số điện thoại: <b>{{customerPhone}}</b><BR/>

Lý do nộp: <b>{{description}}</b><BR/>

Số tiền:  <b>{{total}} (VNĐ)</b><BR/>

Ngày : <b>{{recordedDate}}</b><BR/>
Người tạo : <b>{{createdUser}}</b><BR/>
<BR/><BR/>
</p>
Click vào link sau để duyệt:<br/>
http://42.117.5.115:8049/FRONTEND/#!/accounting/cce_receipt_accept/detail/{{id}}
<p>
Thanks,<BR/>
..::CCE-AccFast::..
</p>

</body>
</html>